doctype html
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  style.
    .pfooter{
    text-align: center;  font-size: 11px
    }
    .psubtitle{
    font-weight: bold; font-size: 11px;
    }
    .pbody{
    text-align: justify; text-justify: inter-word ;font-size: 11px;
    }
    .pstate{
    text-align: right;  font-size: 11px
    }
    .pnotification{
    text-align: center; font-weight: bold;
    }
    .pPresentation{
    font-size: 11px
    }
    .divMargin{
    margin: 10%;
    }
.divMargin
  p.pnotification NOTIFICACION
  p.pstate HUETAMO, MICH.. A empty
  p.pPresentation POR MEDIO DE LA PRESENTE LE INFORMAMOS QUE EL SERVICIO A 
  p.psubtitle NOMBRE empty
  p.psubtitle CALLE empty
  p.psubtitle COLONIA empty
  br
  br
  p.pbody
    | A LA FECHA CUENTA CON ADEUDO DEL MES DE empty - emptyPOR LA CANTIDAD DE $ empty
    | EN BASE AL CONTRATO CELEBRADO CON EL ORGANISMO OPERADOR DE AGUA POTABLE SAPAHU. DERIVADO DE LO ANTERIOR
    | LE INFORMAMOS QUE EN BASE DEL ART. 121 DE LA LEY DEL AGUA Y GESTION DE CUENCAS PARA EL ESTADO DE MICHOACAN.
    | LA FALTA DE PAGO EN TRES OCACSIONES CONSECUTIVAS POR PARTE DEL USUARIO FACULTA
    | AL ORGANISMO PARA SUSPENDER LOS SERVICIOS HASTA QUE SE REGULARICE SU PAGO.
  br
  p.pfooter
    | CUENTA CON 3 DIAS HABILES PARA ACLARAR SU SITUACION APARTIR DE RECIBIR ESTA
    | NOTIFICACION EN LA SOFICINAS DE ESTE ORGANISMO
  p.pfooter ATENTAMENTE SISTEMA DE AGUA POTABLE Y ALCANTARILLADO DE HUETAMO
  p.pfooter  (SAPAHU)
